@import 'https://fonts.googleapis.com/css?family=Inconsolata';

html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  background-image: radial-gradient(#11581E, #041607);
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1ex rgba(51, 255, 51, 1),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 99;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

.terminal {
  box-sizing: inherit;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}


a {
  color: #fff;
  text-decoration: none;
}

.errorcode {
  color: white;
}

.typed-cursor {
    display: none;
}

.nav-item {
    padding-right: 20px;
}

.bottom {
    bottom: 20px;
}

.navbar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.font-home {
    font-size: 35px;
}

li {
    list-style: none;
}

.active {
    list-style: unset;
}

.center {
    text-align: center;
}

@media  (max-width: 768px) {
    
    .font-home {
        font-size: 25px;
    }

    .output {
        color: rgba(128, 255, 128, 0.8);
        text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
        font-size: 15px;
    }

    .h1, h1 {
        font-size: 1.5rem;
    }

    .terminal {
        padding: 2rem;
    }

    .center {
        text-align: left;
    }
    
    .fluid {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .mod-nav {
        font-size: 20px;
    }
    
    .contact-txt {
        font-size: 18px;
    }
}

.img {
    width: 209px;
}

.portfolio-txt {
    color: black !important;
}

.index {
    z-index: 100;
}

.btn-primary {
    color: #fff;
    background-color: #0c8d2e;
    border-color: #000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #065607;
    border-color: #000;
}