.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media  (max-width: 768px) {

    .contact-txt {
        font-size: 20px;
    }

    .overlay {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 3500px;
        background: repeating-linear-gradient( 180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
        background-size: auto auto;
        background-size: auto 4px;
        z-index: 99;
    }
}